<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsDualHttpBinding>
                <binding name="WSDualHttpBinding_IWCFChatService" />
            </wsDualHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:54925/WCFChatService.svc"
                binding="wsDualHttpBinding" bindingConfiguration="WSDualHttpBinding_IWCFChatService"
                contract="ServiceReference1.IWCFChatService" name="WSDualHttpBinding_IWCFChatService">
                <identity>
                    <userPrincipalName value="Josh-PC\Josh" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>